.button{
    font-size:1.5rem
}
//
.header{
    text-align: center;
  color: green;
  font-weight: bold;
}
//
.track{
   display: flex;
    justify-content: space-between;
}
//
.jok{
  color:green;
  font-size: 2rem;
}
//
ion-buttons ion-back-button{
  font-size: 1rem;
}